html, body { 
    height: 100%; 
    margin: 0; 
    overflow: hidden;
  }

p {
    line-height: 1;
}

span {
    display: block;
    width: 3vmax; 
    height: 2vmax; 
    font-size: 2vmax; 
    color: #9bff9b11;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

html {
    overflow: hidden;
}


body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #101010;
}

.overlay-text {
    position: absolute;
    top: 10%;
    left: 10%;
    color: #deff05; 
    font-size: 4em; 
    text-align: center;
    z-index: 1; 
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 4px #ff0000;
    
}

.lorem {
    position: absolute;
    color: #fff; 
    font-size: .4em; 
    top: 80%;
    text-align: justify;
    filter: null;
    text-shadow: 2px 2px 4px #000000;
    
}



.illumination {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    background: url('https://w0.peakpx.com/wallpaper/347/318/HD-wallpaper-black-waves-black.jpg') no-repeat center center/cover;
    
     mask-image: radial-gradient(
        circle at var(--x) var(--y),
        transparent -1%,
        rgb(0, 0, 0) 50%
    );
} 


.range {
    position: absolute;
    z-index: 2;
}

.wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    margin: auto;
    width: 200px;
    height: 200px;
    font-size: 200px;
    transform: rotateX(-45deg);
    transform-style: preserve-3d;
}

.flower {
    width: 200px;
    height: 200px;
    animation: rotate-flower 10s linear infinite;  
    transform-style: preserve-3d;
    
    &.flower:before {
        content: '';
        display: block;
        position: absolute;
        width: 55%;
        height: 55%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background: hsl(100, 100%, 20%);
        border-radius: 50%;
        
        transform: rotateX(90deg);
        animation: rotate-hue 5s infinite;
    }

    .petal {
        position: absolute;
        z-index: 20;
        bottom: 80%;      
        left: -200px;
        transform-style: preserve-3d;
        transform-origin: bottom;
    }

    .shape {
        width: 0.2em;
        height: 0.2em;
        margin: auto;
        background: white;
        box-shadow: 
            0.5em 0 0 0,
            1em  0 0 0,
            -1em  0 0 0,
            -0.5em 0 0 0;
        border-radius: 50%;
        animation: rotate-hue 5s infinite;
    }

}

.box {
    width: 600px;
    transform-style: preserve-3d;
    transform-origin: bottom;
    animation: rotate-box 12s infinite;
}

.paused {
    animation-play-state: paused !important;
}


@keyframes rotate-box {
    0% {
        transform: rotateX(3.5deg);
    }
    15% {
        transform: rotateX(3.5deg);
    }
    50% {
        transform: rotateX(-6deg);
    }
    80% {
        transform: rotateX(-6deg);
    }
    100% {
        transform: rotateX(3.5deg);
    }
}

@keyframes rotate-flower {
    100% {
        transform: rotateY( 360deg );        
    }
}

@keyframes rotate-hue {
    100% {
        filter: hue-rotate(360deg);
    }
}

.btn {
    margin-left: 50%;
    margin-top: 35%;
    padding: 1.1em 2em;
    background: none;
    border: 2px solid #fff;
    font-size: 15px;
    color: #131313;
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: #ecd448;
    font-weight: bolder;
    box-shadow: 0 2px 0 2px;
    
}

.btn:before {
   content: "";
   position: absolute;
   width: 100px;
   height: 120%;
   background-color: #ff6700;
   top: 50%;
   transform: skewX(30deg) translate(-150%, -50%);
   transition: all 0.5s;
}

.btn:hover{
    background-color: #4cc9f0;
    color: #fff;
    box-shadow: 0 2px 0 2px #0d3b66;
}

.btn:hover:before{
    transform: skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
}

.btn:active{
    transform: scale(1.5);
}


@layer base.override-normalize {
  :root {
    font-family: "Inter", sans-serif;
    --brand: oklch(0.9 0.16 185.73);
    --brand-2: oklch(0.81 0.15 177.64);
    --cyber: oklch(0.93 0.22 121.03);
  }
}

@layer animation.glitch {
  @media (prefers-reduced-motion: no-preference) {
    h4 {
      animation: cyberpunk-glitch 7s step-end infinite,
        skew-glitch 7s step-end infinite;
    }
  }

  @keyframes skew-glitch {
    0% {
      transform: skew(83deg, 2deg) scaleY(0.25);
    }
    27% {
      transform: skew(-83deg, 2deg) scaleY(0.25);
    }
    66% {
      transform: skew(93deg, -2deg) scaleY(0.25);
    }
    91% {
      transform: skew(-89deg, -2deg) scaleY(0.25);
    }
    1%,
    28%,
    67%,
    92% {
      transform: none;
    }
  }

  /* generated! */
  @keyframes cyberpunk-glitch {
    0% {
      clip-path: polygon(
        96% 81%,
        23% 67%,
        3% 70%,
        81% 58%,
        63% 65%,
        71% 18%,
        60% 85%,
        22% 27%,
        26% 25%,
        60% 53%,
        79% 62%,
        61% 6%,
        8% 1%,
        12% 81%,
        12% 21%,
        75% 7%,
        31% 61%,
        69% 79%,
        41% 46%,
        3% 7%,
        94% 96%,
        16% 40%,
        10% 99%,
        22% 67%,
        83% 41%,
        92% 76%
      );
    }
    4% {
      clip-path: polygon(
        25% 86%,
        59% 45%,
        12% 89%,
        25% 14%,
        1% 82%,
        36% 13%,
        85% 53%,
        59% 8%,
        12% 76%,
        69% 93%,
        3% 49%,
        74% 64%,
        6% 87%,
        36% 94%,
        55% 30%,
        53% 16%,
        26% 39%,
        7% 69%,
        23% 96%,
        83% 38%,
        33% 25%,
        7% 36%,
        28% 41%,
        27% 85%,
        9% 77%,
        64% 47%
      );
    }
    27% {
      clip-path: polygon(
        39% 7%,
        81% 81%,
        97% 19%,
        37% 54%,
        19% 66%,
        98% 57%,
        10% 45%,
        60% 82%,
        10% 96%,
        46% 53%,
        70% 68%,
        89% 24%,
        6% 45%,
        81% 29%,
        68% 54%,
        77% 32%,
        90% 44%,
        28% 36%,
        66% 72%,
        12% 98%,
        83% 10%,
        11% 71%,
        71% 78%,
        11% 93%,
        50% 29%,
        36% 36%
      );
    }
    51% {
      clip-path: polygon(
        18% 34%,
        31% 77%,
        73% 57%,
        69% 50%,
        62% 33%,
        34% 10%,
        3% 66%,
        76% 4%,
        44% 97%,
        43% 50%,
        68% 3%,
        72% 17%,
        94% 57%,
        46% 74%,
        69% 17%,
        56% 24%,
        93% 59%,
        10% 84%,
        93% 76%,
        70% 26%,
        93% 2%,
        84% 83%,
        25% 4%,
        49% 93%,
        14% 64%,
        31% 60%
      );
    }
    66% {
      clip-path: polygon(
        91% 2%,
        50% 60%,
        51% 75%,
        11% 27%,
        96% 3%,
        36% 12%,
        22% 49%,
        21% 75%,
        13% 30%,
        29% 41%,
        2% 76%,
        72% 52%,
        40% 56%,
        19% 38%,
        32% 7%,
        30% 34%,
        3% 27%,
        48% 17%,
        1% 33%,
        16% 41%,
        24% 21%,
        47% 42%,
        16% 4%,
        81% 91%,
        45% 83%,
        21% 21%
      );
    }
    91% {
      clip-path: polygon(
        21% 73%,
        5% 5%,
        41% 55%,
        3% 59%,
        99% 94%,
        66% 86%,
        30% 46%,
        69% 100%,
        81% 83%,
        34% 55%,
        36% 8%,
        2% 5%,
        94% 91%,
        90% 71%,
        38% 92%,
        55% 46%,
        67% 68%,
        59% 98%,
        30% 87%,
        22% 45%,
        59% 76%,
        47% 6%,
        79% 3%,
        20% 61%,
        61% 96%,
        46% 18%
      );
    }

    1%,
    5%,
    28%,
    53%,
    67%,
    92% {
      clip-path: none;
    }
  }
}
